<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cacsi.warehouse.dao.GoodsDao">
    <select id="getGoodsList" resultType="com.cacsi.warehouse.bean.Goods">
        select * from bus_goods bus_goods left join bus_provider on bus_goods.providerid=bus_provider.id
        <where>
            <if test="providername!=null and providername!=''">
                and providername like CONCAT('%',#{providername},'%')
            </if>
            <if test="goodsname!=null and goodsname!=''">
                and goodsname like CONCAT('%',#{goodsname},'%')
            </if>
            <if test="productcode!=null and productcode!=''">
                and productcode like CONCAT('%',#{productcode},'%')
            </if>
            <if test="promitcode!=null and promitcode!=''">
                and promitcode like CONCAT('%',#{promitcode},'%')
            </if>
            <if test="description!=null and description!=''">
                and description like CONCAT('%',#{description},'%')
            </if>
            <if test="gsize!=null and gsize!=''">
                and gsize like CONCAT('%',#{gsize},'%')
            </if>
        </where>
        limit ${page},${limit}
    </select>
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from bus_goods left join bus_provider on bus_goods.id=bus_provider.id
        <where>
            <if test="providername!=null and providername!=''">
                and providername like CONCAT('%',#{providername},'%')
            </if>
            <if test="goodsname!=null and goodsname!=''">
                and goodsname like CONCAT('%',#{goodsname},'%')
            </if>
            <if test="productcode!=null and productcode!=''">
                and productcode like CONCAT('%',#{productcode},'%')
            </if>
            <if test="promitcode!=null and promitcode!=''">
                and promitcode like CONCAT('%',#{promitcode},'%')
            </if>
            <if test="description!=null and description!=''">
                and description like CONCAT('%',#{description},'%')
            </if>
            <if test="gsize!=null and gsize!=''">
                and gsize like CONCAT('%',#{gsize},'%')
            </if>
        </where>
    </select>
    <select id="getProviderName" resultType="com.cacsi.warehouse.bean.Provider">
        select providername from bus_provider
    </select>
    <insert id="addGoods" parameterType="com.cacsi.warehouse.bean.Goods">
        insert  into bus_goods(goodsname,produceplace,gsize,goodspackage,productcode,promitcode,description,price,number,dangernum,goodsimg,available,providerid,goodsimg)
        values (#{goodsname},#{produceplace},#{gsize},#{goodspackage},#{productcode},#{promitcode},#{description},#{price},#{number},#{dangernum},#{goodsimg},#{available},#{providerid},#{goodsimg})
    </insert>
    <select id="getGoods" resultType="com.cacsi.warehouse.bean.Goods">
        select * from bus_goods where id=#{id}
    </select>
    <update id="updateGoods" parameterType="com.cacsi.warehouse.bean.Goods">
        update bus_goods set goodsname=#{goodsname},produceplace=#{produceplace},gsize=#{gsize},goodspackage=#{goodspackage},productcode=#{productcode},promitcode=#{promitcode},description=#{description},price=#{price},number=#{number},dangernum=#{dangernum},goodsimg=#{goodsimg},available=#{available},providerid=#{providerid}
    where id=#{id}
    </update>
    <delete id="deleteGoodsByIds" parameterType="java.util.List">
        delete from bus_goods where id in
        <foreach collection="list" index="index" separator="," item="ids" open="(" close= ")">
            #{ids}
        </foreach>
    </delete>
</mapper>